Repository cprice404/azure-cellular-demo: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/PipelinesStack/pipeline-of-pipelines.yml, Pipelines/PipelinesStack/sample-pipeline.yml, Pipelines/generated-pipeline-yml/CoreInfrastructure.yml, Pipelines/generated-pipeline-yml/HelloService.yml, Pipelines/generated-pipeline-yml/TimeService.yml

Path conditions:
  Pipelines/PipelinesStack/pipeline-of-pipelines.yml: any of: Pipelines
  Pipelines/PipelinesStack/sample-pipeline.yml: any of: application/Core
  Pipelines/generated-pipeline-yml/CoreInfrastructure.yml: any of: application/Core
  Pipelines/generated-pipeline-yml/HelloService.yml: any of: application/HelloService
  Pipelines/generated-pipeline-yml/TimeService.yml: any of: application/TimeService

Fleshed out app component pipeline stage definitions
  Pipelines/PipelinesGenerator/ApplicationComponent.cs
  Pipelines/PipelinesGenerator/ApplicationComponents.cs
  Pipelines/generated-pipeline-yml/CoreInfrastructure.yml
  Pipelines/generated-pipeline-yml/HelloService.yml
  Pipelines/generated-pipeline-yml/TimeService.yml
Due: Pipelines/PipelinesStack/pipeline-of-pipelines.yml

Working on adding cell waves
  Pipelines/PipelinesGenerator/ApplicationComponent.cs
  Pipelines/PipelinesGenerator/CellWaves.cs
  Pipelines/generated-pipeline-yml/CoreInfrastructure.yml
  Pipelines/generated-pipeline-yml/HelloService.yml
  Pipelines/generated-pipeline-yml/TimeService.yml
  libraries/CellRegistry/CellRegistry/HardCodedCellRegistry.cs
  libraries/CellRegistry/CellRegistry/ICellRegistry.cs
Due: Pipelines/PipelinesStack/pipeline-of-pipelines.yml

Working on adding cell waves
  Pipelines/PipelinesGenerator/CellWaves.cs
  Pipelines/generated-pipeline-yml/CoreInfrastructure.yml
  Pipelines/generated-pipeline-yml/HelloService.yml
  Pipelines/generated-pipeline-yml/TimeService.yml
  libraries/CellRegistry/CellRegistry/HardCodedCellRegistry.cs
Due: Pipelines/PipelinesStack/pipeline-of-pipelines.yml

Working on adding cell waves
  Pipelines/PipelinesGenerator/ApplicationComponent.cs
Due: Pipelines/PipelinesStack/pipeline-of-pipelines.yml

[Automated Commit] Generated latest pipeline yml files
  Pipelines/generated-pipeline-yml/CoreInfrastructure.yml
  Pipelines/generated-pipeline-yml/HelloService.yml
  Pipelines/generated-pipeline-yml/TimeService.yml
Due: Pipelines/PipelinesStack/pipeline-of-pipelines.yml

Working on adding cell waves
  Pipelines/PipelinesGenerator/ApplicationComponent.cs
  Pipelines/PipelinesGenerator/ApplicationComponents.cs
  Pipelines/PipelinesGenerator/PipelineSections.cs
  Pipelines/generated-pipeline-yml/CoreInfrastructure.yml
  Pipelines/generated-pipeline-yml/HelloService.yml
  Pipelines/generated-pipeline-yml/TimeService.yml
Due: Pipelines/PipelinesStack/pipeline-of-pipelines.yml

Adding bake stages to pipeline
  Pipelines/PipelinesGenerator/ApplicationComponent.cs
  Pipelines/PipelinesGenerator/ApplicationComponents.cs
  Pipelines/generated-pipeline-yml/CoreInfrastructure.yml
  Pipelines/generated-pipeline-yml/HelloService.yml
  Pipelines/generated-pipeline-yml/TimeService.yml
Due: Pipelines/PipelinesStack/pipeline-of-pipelines.yml

Adding bake stages to pipeline
  Pipelines/PipelinesGenerator/ApplicationComponent.cs
  Pipelines/generated-pipeline-yml/CoreInfrastructure.yml
  Pipelines/generated-pipeline-yml/HelloService.yml
  Pipelines/generated-pipeline-yml/TimeService.yml
Due: Pipelines/PipelinesStack/pipeline-of-pipelines.yml

Minor fixes to allow applowing to two different cells
  application/HelloService/infrastructure/HelloServiceInfrastructureStack.cs
  application/core/infrastructure/CoreInfrastructureStack.cs
  application/timeservice/scripts/store-loadbalancer-address-to-appconfig.sh
  libraries/CellRegistry/CellRegistry/HardCodedCellRegistry.cs
Due: Pipelines/generated-pipeline-yml/HelloService.yml

Cleaning up and adding READMEs
  Pipelines/PipelinesGenerator/ApplicationComponents.cs
  Pipelines/PipelinesStack/PipelinesStack.cs
  Pipelines/PipelinesStack/Program.cs
  Pipelines/PipelinesStack/README.md
  Pipelines/PipelinesStack/appsettings.json.EXAMPLE
  Pipelines/PipelinesStack/pipeline-of-pipelines.yml
  Pipelines/README.md
  Pipelines/choose-devops-org.png
  Pipelines/new-pipelines.png
  Pipelines/variable-group.png
  README.md
  application/HelloService/infrastructure/HelloServiceInfrastructureStack.cs
  application/timeservice/Makefile
  cdktf-azure-devops-experiment/.gitignore
  cdktf-azure-devops-experiment/MainStack.cs
  cdktf-azure-devops-experiment/MyTerraformStack.csproj
  cdktf-azure-devops-experiment/Program.cs
  cdktf-azure-devops-experiment/TestProgram.cs
  cdktf-azure-devops-experiment/appsettings.json.EXAMPLE
  cdktf-azure-devops-experiment/cdktf-azure-pipeline.yml
  cdktf-azure-devops-experiment/cdktf.json
  cdktf-azure-devops-experiment/help
  cdktf-azure-devops-experiment/package-lock.json
  cdktf-azure-devops-experiment/package.json
  cdktf-azure-devops-experiment/pipeline-scripts/install-software.sh
  deployment-template.png
  libraries/CellRegistry/CellRegistry/HardCodedCellRegistry.cs
  libraries/CellRegistry/CellRegistryTest/CellRegistryTest.cs
  old/aks-hello-world-service/.dockerignore
  old/aks-hello-world-service/Dockerfile
  old/aks-hello-world-service/package-lock.json
  old/aks-hello-world-service/package.json
  old/aks-hello-world-service/server.js
  old/azure-pipelines.yml
  old/manifests/deployment.yml
  old/manifests/service.yml
Due: Pipelines/PipelinesStack/pipeline-of-pipelines.yml, Pipelines/generated-pipeline-yml/HelloService.yml

Updating READMEs
  Pipelines/README.md
  README.md
Due: Pipelines/PipelinesStack/pipeline-of-pipelines.yml

Updating READMEs
  Pipelines/PipelinesStack/pipeline-of-pipelines.yml
Due: Pipelines/PipelinesStack/pipeline-of-pipelines.yml

Renaming files to fix casing
  application/Core2/Makefile
  application/Core2/README.md
  application/Core2/infrastructure/.gitignore
  application/Core2/infrastructure/CoreInfrastructure.csproj
  application/Core2/infrastructure/CoreInfrastructure.sln
  application/Core2/infrastructure/CoreInfrastructureStack.cs
  application/Core2/infrastructure/Program.cs
  application/Core2/infrastructure/TestProgram.cs
  application/Core2/infrastructure/cdktf.json
  application/Core2/infrastructure/help
  application/Core2/infrastructure/package-lock.json
  application/Core2/infrastructure/package.json
  application/Core2/scripts/cell-bootstrap.sh
  application/Core2/scripts/cell-teardown.sh
  application/TimeService2/Makefile
  application/TimeService2/README.md
  application/TimeService2/k8s/deployment.yml
  application/TimeService2/k8s/service.yml
  application/TimeService2/scripts/apply-k8s-manifests.sh
  application/TimeService2/scripts/build-and-push-docker-image.sh
  application/TimeService2/scripts/cell-bootstrap.sh
  application/TimeService2/scripts/store-loadbalancer-address-to-appconfig.sh
  application/TimeService2/service/.dockerignore
  application/TimeService2/service/.gitignore
  application/TimeService2/service/Dockerfile
  application/TimeService2/service/package-lock.json
  application/TimeService2/service/package.json
  application/TimeService2/service/server.js
Due: none

Renaming files to fix casing
  application/Core/Makefile
  application/Core/README.md
  application/Core/infrastructure/.gitignore
  application/Core/infrastructure/CoreInfrastructure.csproj
  application/Core/infrastructure/CoreInfrastructure.sln
  application/Core/infrastructure/CoreInfrastructureStack.cs
  application/Core/infrastructure/Program.cs
  application/Core/infrastructure/TestProgram.cs
  application/Core/infrastructure/cdktf.json
  application/Core/infrastructure/help
  application/Core/infrastructure/package-lock.json
  application/Core/infrastructure/package.json
  application/Core/scripts/cell-bootstrap.sh
  application/Core/scripts/cell-teardown.sh
  application/TimeService/Makefile
  application/TimeService/README.md
  application/TimeService/k8s/deployment.yml
  application/TimeService/k8s/service.yml
  application/TimeService/scripts/apply-k8s-manifests.sh
  application/TimeService/scripts/build-and-push-docker-image.sh
  application/TimeService/scripts/cell-bootstrap.sh
  application/TimeService/scripts/store-loadbalancer-address-to-appconfig.sh
  application/TimeService/service/.dockerignore
  application/TimeService/service/.gitignore
  application/TimeService/service/Dockerfile
  application/TimeService/service/package-lock.json
  application/TimeService/service/package.json
  application/TimeService/service/server.js
Due: Pipelines/PipelinesStack/sample-pipeline.yml, Pipelines/generated-pipeline-yml/CoreInfrastructure.yml, Pipelines/generated-pipeline-yml/TimeService.yml

Working on Pipelines README
  Pipelines/README.md
Due: Pipelines/PipelinesStack/pipeline-of-pipelines.yml

Working on Pipelines README
  Pipelines/hello-pipeline-deploying.png
  Pipelines/pipeline-of-pipelines-running.png
Due: Pipelines/PipelinesStack/pipeline-of-pipelines.yml

Working on Pipelines README
  CellBootstrap/ApplicationComponents.cs
  CellBootstrap/README.md
  Pipelines/PipelinesGenerator/ApplicationComponents.cs
  Pipelines/PipelinesGenerator/CellWaves.cs
  Pipelines/README.md
  application/Core/README.md
  application/HelloService/README.md
  application/README.md
  application/TimeService/README.md
  libraries/CellRegistry/CellRegistry/HardCodedCellRegistry.cs
  libraries/CellRegistry/README.md
Due: Pipelines/PipelinesStack/pipeline-of-pipelines.yml, Pipelines/PipelinesStack/sample-pipeline.yml, Pipelines/generated-pipeline-yml/CoreInfrastructure.yml, Pipelines/generated-pipeline-yml/HelloService.yml, Pipelines/generated-pipeline-yml/TimeService.yml
